$glass-bead: #cabcc5;
$nero: #242424;
$moonscape: #705f69;
$apple-herb-black: #4b4147;
$dark-lavender: #876698;
$aspen-green: #819d76;
$royal-indigo: #51405e;
$deep-viridian: #4b6444;
$plush: #3a3245;
$palm-leaf: #364732;
$color-light: whitesmoke;

$colors: (
  parent-bg: $nero,
  color: $plush,
  bg: $glass-bead,
  border: $royal-indigo,
  color-light: $color-light,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin anchor {
  text-decoration: none;
  color: color(color);
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  margin-left: 1rem;
  padding: 0.5rem;
}

@mixin anchor-light {
  text-decoration: underline;
  color: color(color-light);
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  margin-left: 1rem;
  padding: 0.5rem;
}

@mixin anchor-hover {
  background-color: color(color);
  color: color(color-light);
  text-decoration: underline;
}

@mixin anchor-hover-light {
  background-color: color(color-light);
  color: color(color);
  text-decoration: underline;
}

@mixin container {
  width: 90%;
  margin: 0 auto;
}

@mixin box-shadow {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
