@import "settings";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // background-color: color(parent-bg);
  color: color(color);
  // font-family: "Montserrat", sans-serif;
  font-family: "Cardo", serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

nav {
  font-family: "Montserrat", sans-serif;
}

.full-name {
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 100vh;
  background-image: url("../img/pexels-negative-space-34153.jpg");
  background-size: cover;
  background-position: center;
  color: color(bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: color(bg);
  color: color(color);
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;

  .logo a {
    @include anchor;
    color: color(color-light);
  }

  .nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      @include anchor;

      &:hover,
      &:focus {
        @include anchor-hover;
      }
    }
  }
}

.hero {
  @include box-shadow;
  border: 1px solid color(bg);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: color(color-light);
  opacity: 1;
  margin: 0;
}

.sub-title {
  font-size: 1.5rem;
  color: color(color-light);
  margin-top: 0.3rem;
}

.down-arrow {
  position: absolute;
  bottom: 1rem;
  font-size: 2rem;
  color: color(color-light);
}

.projects {
  padding: 5rem;
  font-weight: 700;
  height: 100vh;

  &-title {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 500px));
    justify-content: center;
    row-gap: 10px;
    column-gap: 50px;
  }

  &-grid-item {
    // display: flex;
    // align-items: center;
    text-align: center;
    font-size: 1.2rem;
  }

  &-grid-item img {
    @include box-shadow;
    width: 50%;
  }

  a {
    @include anchor;

    &:hover,
    &:focus {
      @include anchor-hover;
    }
  }
}

.about-me {
  background-color: color(border);
  background-image: url("../img/rs-guitar-electric-guitar-les-paul-epiphone-159266.jpeg"),
    radial-gradient(whitesmoke, #333, #111);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  color: color(color-light);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  height: 100vh;

  justify-content: center;
  align-items: center;

  &-title {
    font-family: "Montserrast", sans-serif;
    margin: 0;
    font-size: 2rem;
  }

  &-sub-title {
    text-indent: 1em;
    max-width: 500px;
    font-weight: 700;
  }
}

.contact {
  // margin: 2em;
  padding-top: 5em;
  padding-bottom: 1em;
  background-image: url("../img/rs-concert-1149979_1280.jpg"),
    radial-gradient(whitesmoke, #777, #333);
  background-position: center;
  background-size: cover;
  /*   background-size: contain; */
  /*   background-repeat: no-repeat; */
  background-blend-mode: overlay;
  text-shadow: 1px 1px 1px whitesmoke;

  &-title {
    text-align: center;
    font-family: "Montserrast", sans-serif;
    margin: 0;
    font-size: 2rem;
  }

  .form {
    max-width: 500px;
    margin: 0 auto;

    label {
      color: color(border);
      font-size: 1.2em;
      font-weight: 700;
    }

    input,
    textarea {
      width: 100%;
      margin-top: 0.25rem;
      margin-bottom: 0.75rem;
      outline: none;
      border: 1px solid color(bg);
      border-radius: 0.3em;
      padding: 0.5em;
      color: inherit;
      font-family: inherit;
      font-size: 1em;
      font-weight: 700;
      color: color(border);
    }

    textarea {
      resize: vertical;
      min-height: 75px;
      max-height: 200px;
    }

    input:focus,
    textarea:focus {
      border-color: color(border);
    }
  }
}

.btn {
  background-color: color(border);
  color: color(color-light);
  padding: 0.25em 1em;
  text-decoration: none;
  border: 1px solid color(color-light);
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;

  &:hover,
  &:focus {
    background-color: color(color-light);
    border: 1px solid color(border);
    color: color(border);
  }
}

.btn-container {
  text-align: start;
  margin-top: 1em;
  .btn-square {
    border-radius: 0.3em;
  }
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  justify-content: space-around;
  align-items: center;
  height: 3em;

  ul {
    display: flex;

    li {
      margin: 0 2em;
      list-style: none;

      a {
        @include anchor;

        &:hover {
          @include anchor-hover;
        }
      }
    }
  }
}
