$color-bg: #412c44;
$color-text: whitesmoke;
$color-accent: blue;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: $color-bg;
  color: $color-text;
  text-shadow: 1px 1px 1px black;

  font-family: "Petrona", serif;

  background-image: url("../img/pexels-negative-space-34153.jpg");
  object-fit: cover;
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;

  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 50px 500px 50px;

  // grid-template-areas:
  // "footer"
  // "nav"
  // "header";
}

.container {
  // border: 1px solid yellow;
  padding: 0 5px;

  width: 90%;
  margin: 0 auto;
}

.ctn-header {
  // border: 1px solid red;
  margin: 150px auto;
}

.nav {
  background-color: $color-bg;
  position: fixed;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  top: 0;

  a {
    text-decoration: none;
    color: $color-text;
    padding: 5px;

    &:hover {
      color: $color-bg;
      background-color: $color-text;
      text-shadow: none;
    }
  }
}

.front-page {
  // background-color: blue;
  height: 90vh;
}

nav {
  // grid-area: nav;

  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
  }

  ol {
    display: flex;

    li {
      margin: 0 5px;
      list-style: none;
    }

    a {
      text-decoration: none;
      color: $color-text;

      &:hover {
        color: $color-accent;
        text-shadow: non;
      }
    }
  }
}

header {
  // grid-area: header;
  color: $color-text;
  height: 100vh;
}

#projects {
  height: 100vh;
}

#about {
  height: 100vh;
}

#contact {
  height: 100vh;
}

.ctn-form {
  input {
    margin-bottom: 25px;
  }
}

footer {
  // grid-area: footer;
  height: 50px;

  ol {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      margin: 0 5px;
      list-style: none;
    }

    a {
      margin: 0 5px;
      text-decoration: none;
      color: $color-text;

      &:hover {
        color: $color-bg;
        background-color: $color-text;
        text-shadow: non;
      }
    }
  }
}

.icon {
  border: 2px solid $color-text;
  padding: 5px;
  text-shadow: none;
}
