@import "settings";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // background-color: color(parent-bg);
  color: color(color);
  // font-family: "Montserrat", sans-serif;
  font-family: "Cardo", serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

nav {
  font-family: "Montserrat", sans-serif;
}

.full-name {
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 100vh;
  background-image: url("../img/pexels-negative-space-34153.jpg");
  background-size: cover;
  background-position: center;
  color: color(bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: color(bg);
  color: color(color);
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;

  .logo a {
    @include anchor;
    color: color(color-light);
  }

  .nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      @include anchor;

      &:hover,
      &:focus {
        @include anchor-hover;
      }
    }
  }
}

.hero {
  @include box-shadow;
  border: 1px solid color(bg);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: color(color-light);
  opacity: 1;
  margin: 0;
}

.sub-title {
  font-size: 1.5rem;
  color: color(color-light);
  margin-top: 0.3rem;
}

.down-arrow {
  position: absolute;
  bottom: 1rem;
  font-size: 2rem;
  color: color(color-light);
}

.projects {
  // border: 1px solid blue;
  font-weight: 700;

  &-title {
    font-family: "Montserrat", sans-serif;
  }

  img {
    @include box-shadow;
  }

  a {
    @include anchor;

    &:hover,
    &:focus {
      @include anchor-hover;
    }
  }
}
